<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.cx.tel.sales.mapper.account.AccountInfoMapper" >
	<resultMap id="accountInfoResultMap" type="com.cx.tel.sales.domain.account.AccountInfo">
		<result column="UUID" property="uuid" /> <!--主键业务唯一UUID -->
		<result column="ACCOUNT_UUID" property="accountUuid" /> <!--登陆账户UUID -->
		<result column="HAND_IMG" property="handImg" /> <!--用户头像 -->
		<result column="NIKE_NAME" property="nikeName" /> <!--账户昵称 -->
		<result column="BIRTHDAY" property="birthday" /> <!--员工生日 -->
		<result column="WEIXIN" property="weixin" /> <!--微信号码 -->
		<result column="JOB_CODE" property="jobCode" /> <!--员工工号 -->
		<result column="JOB_DEPT_UUID" property="jobDeptUuid" /> <!--所属部门 -->
		<result column="JOB_DUTY_KEY" property="jobDutyKey" /> <!--工作职务[数据字典职务读取数据] -->
		<result column="TEAM_TOP_UUID" property="teamTopUuid" /> <!--一级团队名称 -->
		<result column="JOB_ENTRY_TIME" property="jobEntryTime" /> <!--入职时间 -->
		<result column="JOB_STATE" property="jobState" /> <!--工作状态[1新账户2：在职3：离职] -->
		<result column="JOB_DIMISSION_TIME" property="jobDimissionTime" /> <!--离职时间 -->
		<result column="CREATE_TIME" property="createTime" /> <!--创建时间 -->
		<result column="CREATE_CREATOR_UUID" property="createCreatorUuid" /> <!--创建人UUID -->
		<result column="UPDATE_TIME" property="updateTime" /> <!--修改时间 -->
		<result column="UPDATE_CREATOR_UUID" property="updateCreatorUuid" /> <!--修改人UUID -->
	</resultMap>
	<sql id="selectAccountInfoSql">
		<![CDATA[
			SELECT T.UUID,T.ACCOUNT_UUID,T.HAND_IMG,T.NIKE_NAME,T.BIRTHDAY,T.WEIXIN,T.JOB_CODE,T.JOB_DEPT_UUID,T.JOB_DUTY_KEY,T.TEAM_TOP_UUID,T.JOB_ENTRY_TIME,T.JOB_STATE,T.JOB_DIMISSION_TIME,T.CREATE_TIME,T.CREATE_CREATOR_UUID,T.UPDATE_TIME,T.UPDATE_CREATOR_UUID FROM ACCOUNT_INFO T
		]]>
	</sql>
	
	<!--default gencode selectByUUid -->
	<select id="selectByUUid" parameterType="java.lang.String" resultMap="accountInfoResultMap">
		<include refid="selectAccountInfoSql"/>	
		<![CDATA[ WHERE T.UUID=#{uuid}]]>
	</select>
	
</mapper>